.navbar{
    background-color: orange;
}

.cartMain:hover >.addCart mat-card {
    background-color: orange;
    // transform: translate(50px,100px);
    transform: scale(1.2);      
}

.cartMain .cartSub:hover{
    // transform: translate(50px,100px);
    transform: scale(1.2); 
}

.addCart mat-card{
    width: 225px;
    height: 380px;
    margin-top: 145px;
    background-color: #a9a9a9;
}

.addCart h5{
    margin-top: 330px;
    color: white;
    font-size: 21px;
}
.cartSub mat-card{
    width: 225px;
    height: 385px;
    margin-top: -435px;
    margin-left: -35px; 
}

button{
    outline: none
}

h3{
    opacity: 0.6;
}
