<mat-toolbar-row>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly center">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="25" fxLayoutGap="10px" style="height:10vh">
            <div fxFlex="5">
                <button type="button" mat-button (click)="drawer.toggle()">


                    <i class="material-icons">
                        view_headline
                    </i>
                </button>
            </div>
            <div>
                <img class="gb_ma gb_Cd" alt="" aria-hidden="true"
                    src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                    srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                    style="width:40px;height:40px">
            </div>
            <div>
                <span>Fundoo</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40">
            <div class="search">
                <input fxFlex='100' autocomplete="off" placeholder="Search" value="" type="text">
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="30" fxLayoutGap="20px">
            <div>
                <i class="material-icons">
                    refresh
                </i>
            </div>
            <div>
                <i class="material-icons">
                    view_module
                </i>
            </div>
            <div>
                <i class="material-icons">
                    settings
                </i>
            </div>
            <div>
                <i class="material-icons">
                    drag_indicator
                </i>
            </div>
            <div>
                <i class="material-icons">
                    power_settings_new
                </i>
            </div>
        </div>
    </div>
</mat-toolbar-row>
<hr>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        Toggle extra text
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">

        </button>
    </div>
</mat-drawer-container>
