<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center" class="text-info text-danger">Fundo Notes</h1>
            <h5 class="card-title text-center">Sign In</h5>
            <h6 class="card-title text-center">Continue to Gmail</h6>

            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              </div>
              Forgot email?
              <br>
              <p class="account" mat-button [matMenuTriggerFor]="menu">create an account</p>
              <mat-menu #menu="matMenu">
                <button mat-menu-item><a mat-list-item routerLink="/">For myself</a></button>
                <button mat-menu-item><a mat-list-item routerLink="/login">To manage my business</a></button>
              </mat-menu>
              <button class="next"  mat-raised-button color="primary">Next</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>