<div fxLayout='column' fxLayoutGap="5%" style="height:100vh">
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
    <div flexLayout="row" fxFlex.lg="70%" fxLayoutAlign='center' fxFlex="35">
        <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
        <div fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
            <!-- login Form start -->
            <mat-card>
                <form>
                    <mat-card-title fxLayoutAlign="center">
                        <h4>
                            <span class="blue">F</span>
                            <span class="red">u</span>
                            <span class="navy">n</span>
                            <span class="purple">d</span>
                            <span class="yellow">o</span>
                            <span class="red">o</span>
                            <span class="navy">n</span>
                            <span class="green">o</span>
                            <span class="purple">t</span>
                            <span class="red">e</span>
                            <span class="navy">s</span>
                        </h4>
                    </mat-card-title>
                    <mat-card-title fxLayoutAlign=center>
                        <h5>Sign in</h5>
                    </mat-card-title>
                    <mat-card-title fxLayoutAlign=center>
                        <h6>Use your Fundoo Account</h6>
                    </mat-card-title><br>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="register.email" [formControl]="email">
                            <mat-error *ngIf="email.invalid">{{emailValidation()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <mat-error *ngIf="password.invalid">{{passwordValidation()}}</mat-error>
                            <input matInput placeholder="Enter your password" [(ngModel)]="register.password"
                                [formControl]="password" [type]="hide ? 'text' : 'password'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                            </mat-icon>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <p routerLink="/forgotPassword">Forgot password?</p>
                        <br>
                        <div fxLayoutAlign="start start">
                            <p mat-button routerLink="/registration">Create account</p>
                        </div>
                        <div fxLayoutAlign="end end">
                            <!-- For Onclick disable button -->
                            <!-- <button type="submit" mat-flat-button  color="primary" [disabled]="email.invalid || password.invalid" routerLink="/registration">Next</button> -->
                            <button mat-flat-button color="primary" (click)="login(register)"
                                routerLink="/registration">signup</button>
                        </div>
                    </mat-card-actions>
                </form>
            </mat-card>
            <!-- Login Form End -->
        </div>
        <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
</div>