<body fxLayout='row' fxLayoutGap="100%" fxLayoutAlign="center">
  <div class="container" fxLayout="column" fxFlex.lg="70%" fxLayoutGap="15%">
    <div fxFlex.lg="15%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%">
      <!-- login form start -->
      <div class="row">
        <div class="col-sm-9 col-md-8 col-lg-6 mx-auto" fxLayoutGap="50%">
          <div class="card card-signin my-5">
            <div class="card-body">
              <p class="title text-center">
                <span style='color: darkslateblue'>F</span>
                <span style='color: red'>u</span>
                <span style='color: purple'>n</span>
                <span style='color: blue'>d</span>
                <span style='color: green'>o</span>
                <span style='color: red'>o</span>
                <span style='color: teal'>n</span>
                <span style='color: purple'>o</span>
                <span style='color: blue'>t</span>
                <span style='color: green'>e</span>
                <span style='color: red'>s</span>
              </p>
              <h5 class="card-title text-center">Sign in</h5>
              <h6 class="card-title text-center">with your Fundoo Account</h6><br>
              <form class="form-signin">
                <mat-form-field appearance="outline">
                  <mat-label>Email or phone</mat-label>
                  <input matInput placeholder="Email or phone" type="email" id="inputEmail" required autofocus>
                </mat-form-field>
                <p routerLink="/forgotPassword">Forgot email?</p>
                <br>
                <div>
                  <p class="pull-left" mat-button routerLink="/registration">Create account</p>
                </div>
                <div>
                  <button class="pull-right" mat-raised-button color="primary" routerLink="/login1">Next</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- login form end -->
    </div>
  </div>
</body>