/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - note-list.component.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
.cardSub{
    border-radius: 5%;
    width: 285px;
    padding: 6px;
    overflow: hidden;
}
.cardSub2{
    border-radius: 5%;
    width: 600px;
    padding: 6px;
    overflow: hidden;
}
mat-card{
    border-radius: 10px;
}
.icon{
    visibility:hidden;
}
.iconButton{
    opacity:0.7;
    cursor: pointer;
}
.iconButton:hover{
    opacity:1;
} 
.cardSub:hover .icon {
    visibility: visible;
}
.title{
    word-break: break-all;
    font-weight: bold;
}
.description{
    word-break: break-all;
}
.clear{ 
    position: absolute;
    margin-top: -4px;
    opacity: 0.5;
}
.iconClear{
    visibility:hidden;
}
.reminderMain:hover .iconClear {
    visibility: visible;
}
.clock{
    opacity: 0.5;
}
mat-chip {
    border-style: initial;
    height: 18px;
    padding: 3px 5px;
}
.cardMain{
    // margin:0 auto;
    // position: fixed;
    // width:100%;
    // z-index:1000;
    // background-color: white;
    // display: flex;
    // justify-content: space-around;
    // align-items: stretch;
    // overflow-y:hidden !important;
    max-width: 1000px;
    overflow: hidden;
}
.pin{
    opacity: 0.7;
    //margin-left: 250PX;
}
