<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - note-list.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<!-- Dispaly data into the card after add -->
<div fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="end" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px' fxFlex.sm='400px'
        fxFlex.xs='150px' fxLayoutGap="50px" fxLayout.xs="column wrap">
        <div *ngFor="let data of notes | sortPipe | searchNote : searchItem">
            <mat-card [ngStyle]="{'background-color':data.color}">
                <div>
                    {{data.title}}
                </div>
                <div>
                    {{data.description }}
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
                    <!-- Use ICON Selector to display icon in the display card-->
                    <app-icon [card]='data' (setColor)=entry($event)></app-icon>
                </div>
            </mat-card>
        </div>
    </div>
</div>