<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - note-list.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<!-- Dispaly data into the card after add -->
<div class="cardMain" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="cardSub" *ngFor="let data of notes | sortPipe | searchNote : searchItem">
        <mat-card [ngStyle]="{'background-color':data.color}">
            <div class="title">{{data.title}}</div>
            <div class="description"> {{data.description }}</div>
            <div class="icon">
                <!-- Use ICON Selector to display icon in the display card-->
                <app-icon class="iconButton" [card]='data' (setColor)=entry($event)></app-icon>
            </div>
        </mat-card>
    </div>
</div>