/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - reset-password.scss.
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
@import '../../core/scss/color.scss';

mat-form-field{
    width: 100%;
}
// Forgot email?
p{
    margin-left: 10px;
    margin-bottom: -53px;
}
