<div fxLayout="column" fxLayoutGap="20px">
  <div class="navbar">
    <p>Advanced pack details</p>
  </div>
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Feature1</ng-template>
     1.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Feature2</ng-template>
      2.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Feature3</ng-template>
      3.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </mat-step>
  </mat-horizontal-stepper>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxLayoutAlign="start start">
      <button mat-button (click)="cartBack()">Remove</button>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-button (click)="cartGo()">Proceed to checkout</button>
    </div>
  </div>
</div>