<div fxLayout="column" fxLayoutGap="20px">
  <div class="navbar" fxLayout="row">
    <h4><strong>Advanced pack details</strong></h4>
    <p>${{cartData.price}} Per Month</p>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div (click)="content='showSubContent'" class="feature">Feature1</div>
      <div (click)="content='showSubContentTwo'" class="feature">Feature2</div>
      <div (click)="content='showSubContentThree'" class="feature">Feature3</div>
    </div>
    <mat-divider></mat-divider>
    <div style="height:3vh;"></div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around center">
      <div [ngSwitch]="content" class="textp">
        <div *ngSwitchDefault>
          {{cartData.description}}
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
        <div *ngSwitchCase="'showSubContent'">
          {{cartData.description}}
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
        <div *ngSwitchCase="'showSubContentTwo'">
          {{cartData.description}}
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book.
        </div>
        <div *ngSwitchCase="'showSubContentThree'">
          {{cartData.description}}
          It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout.
        </div>
      </div>
    </div>
  </div>
  <div fxFlex=10></div>
  <div fxLayout="row" fxLayoutGap="350px" class="btn">
    <div fxLayoutAlign="start start">
      <button mat-flat-button color="primary" (click)="cartBack()">Remove</button>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-flat-button color="primary" (click)="cartGo()">Proceed to checkout</button>
    </div>
  </div>
</div>