<div fxLayout='column' fxLayoutGap="5%">
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
    <div flexLayout="row" fxFlex.lg="70%" fxLayoutAlign=center >
        <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
        <div fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%" style="height:100vh">
            <!-- login1 form start -->
            <mat-card>
                <form>
                    <mat-card-title fxLayoutAlign="center">
                        <h4>
                            <span class="blue">F</span>
                            <span class="red">u</span>
                            <span class="navy">n</span>
                            <span class="purple">d</span>
                            <span class="yellow">o</span>
                            <span class="red">o</span>
                            <span class="navy">n</span>
                            <span class="green">o</span>
                            <span class="purple">t</span>
                            <span class="red">e</span>
                            <span class="navy">s</span>
                        </h4>
                    </mat-card-title>
                    <mat-card-title fxLayoutAlign=center>
                        <h5>Welcome</h5>
                    </mat-card-title>
                    <mat-card-title fxLayoutAlign=center>
                        <h6>Username</h6>
                    </mat-card-title><br>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <!-- <mat-error *ngIf="password.invalid">{{passwordValidation()}}</mat-error> -->
                            <!-- [formControl]="password" -->
                            <!-- [disabled]="password.invalid" -->
                            <input matInput placeholder="Enter your password"  [type]="hide ? 'text' : 'password'" >
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <p routerLink="/forgotPassword">Forgot password?</p>
                        <br>
                        <div fxLayoutAlign="end end">
                            <button mat-flat-button  color="primary" routerLink="/login1">Next</button>
                        </div>
                    </mat-card-actions>
                </form>
            </mat-card>
            <!-- login1 form End -->
        </div>
        <div fxFlex.lg="35%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
    <div fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="0%"></div>
</div>