<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - label.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div fxLayout="column">
    <div style="height:10vh;">
        <h4><b>Edit label</b></h4>
    </div>
    <div fxLayout=row style="height:8vh;">
        <div fxFlex="100" fxLayoutAlign="start start">
            <div fxFlex="20">
                <mat-icon (click)="clear()">clear</mat-icon>
            </div>
            <div fxFlex="60">
                <input matInput type="text" maxlength="50" placeholder="Create New Label" [(ngModel)]="labels.label">
            </div>
            <div fxFlex="20" fxLayoutAlign="end end">
                <mat-icon (click)="done()">done</mat-icon>
            </div>
        </div>
    </div>
    <!-- <div *ngFor="let label of labels | sort | searchNote : searchItem" style="height:6vh"> -->
    <div *ngFor="let label of labels" style="height:6vh">
        <div fxLayout=row>
            <div fxFlex="100" fxLayoutAlign="start start" (mouseover)="changeText=true" (mouseout)="changeText=false">
                <!-- MouseOver for delete label -->
                <div fxFlex="20">
                    <mat-icon *ngIf="!changeText">label</mat-icon>
                    <mat-icon *ngIf="changeText" (click)="deleteLabel(label.id)">delete</mat-icon>
                </div>
                <!-- Show all label -->
                <div fxFlex="80">
                    <p>{{label.label}}</p>
                </div>
                <!-- Edit label -->
                <div fxFlex="20">
                    <div fxLayoutAlign="end end" *ngIf="labelId != label.id" (click)="editIcon(label.id,label.label)">
                        <mat-icon class="doneIcon" (click)="editIcon(label.id,label.label)">edit</mat-icon>
                    </div>
                    <div fxLayoutAlign="end end" *ngIf="labelId == label.id">
                        <input style="margin-right: 19px;" class="textarea" [(ngModel)]="model.newName" maxlength=40>
                        <mat-icon class="doneIcon" (click)=editLabel(label.id)>done</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="end end">
        <abbr title="Save Label">
            <button mat-button class="add" (click)="add()">Done</button>
        </abbr>
    </div>
</div>