<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - label.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div style="height:10vh;">
    <h4><b>Edit label</b></h4>
</div>
<div fxLayout="row">
    <div fxLayoutAlign="start start">
        <mat-icon class="clear" (click)="clear()">clear</mat-icon>
    </div>
    <input matInput type="text" maxlength="50" placeholder="Create New Label" [(ngModel)]="labels.label">
    <div fxLayoutAlign="end end">
        <mat-icon class="done" (click)="done()">done</mat-icon>
    </div>
</div>

<!-- Show Label start-->
<div *ngFor="let label of labels | sortPipe">
    <div fxLayout=row>
        <div fxLayoutAlign="start start" (mouseover)="changeText=true" (mouseout)="changeText=false">
            <mat-icon *ngIf="!changeText">label</mat-icon>
            <mat-icon *ngIf="changeText">delete</mat-icon>
        </div>
        <p class="label">{{label.label}}</p>
        <div fxLayoutAlign="end end">
            <mat-icon class="edit">edit</mat-icon>
        </div>
    </div>
</div>
<!-- Show Label end-->

<hr>

<!-- Done Button start -->
<div fxLayout="row" fxLayoutAlign="end end">
    <abbr title="Save Label">
        <button mat-button class="add" (click)="add()">Done</button>
    </abbr>
</div>
<!-- Done Button end -->