/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - label.component.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
input{
    border-left-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: solid;
    outline: none;
}
