<div style="height:5vh"></div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let data of noteList">
        <div fxFlex.xl='700px' fxFlex.lg='1000px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
            <div>
                <div fxFlex=90>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <h5><strong>{{data.title}}</strong></h5>
                        <h5>{{data.description}}</h5>
                    </div>
                </div>
                <div fxFlex=10>
                    <button mat-button (click)=close()>Close</button>
                </div>
            </div>
            <div style="height:3vh"></div>
            <mat-divider></mat-divider>
            <div style="height:3vh"></div>

            <div *ngFor="let item of data.questionAndAnswerNotes.length == 1">
                <button (click)="question(item.id)" class="question">{{item.message}}</button>
            </div>
            <div style="height:3vh"></div>

            <div *ngFor="let item of data.questionAndAnswerNotes.length == 1">
                <div *ngIf="notecard">
                    <h5><strong (click)="notecardOpen()">Question Asked</strong></h5>
                </div>

                <h5><i>Make sure what you are asking is unique, concise, and pharased like a question</i></h5>
                <div style="height:3vh"></div>

                <div *ngIf="!notecard">
                    <textarea [froalaEditor] [formControl]="message" [(froalaModel)]="addQue.message"></textarea>
                    <div style="height:5vh"></div>
                    <div fxLayout="row" fxLayoutAlign="end end">
                        <button mat-raised-button color="primary" (click)=addQuestion(data)
                            (anyChanges)="refresh($event)">Submit-Question</button>
                    </div>
                </div>

                <div style="height:5vh"></div>

                <div *ngIf="notecardreply">
                    <button (click)="notecardOpenAnswer()">View reply</button>
                </div>
                <div *ngIf="!notecardreply">
                    <textarea [froalaEditor] [formControl]="message" [(froalaModel)]="replyQue.message"></textarea>
                    <div style="height:5vh"></div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
            <div *ngFor="let item of data.questionAndAnswerNotes">
                <button mat-raised-button color="primary" (click)=addReply(item.id)>Submit-Reply</button>
            </div>
        </div>
    </div>
</div>


