<div style="height:10vh"></div>
<div fxLayoutAlign="center center">
    <div fxFlex.xl='700px' fxFlex.lg='1000px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
        <div *ngFor="let data of noteList">
            <div fxLayout="column">

                <!-- title, description and close button -->
                <div fxFlex=100 fxLayoutGap="20px">
                    <div fxFlex=90>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <h5><strong>{{data.title}}</strong></h5>
                            <h5>{{data.description}}</h5>
                        </div>
                    </div>
                    <div fxFlex=10>
                        <button mat-button (click)=close()>Close</button>
                    </div>
                </div>
                <div style="height:3vh"></div>
                <mat-divider></mat-divider>
                <div style="height:3vh"></div>
                <!-- Check Question Length if one question is there then reply-->
                <div *ngIf="data.questionAndAnswerNotes.length>0">
                    <!-- Display Question start -->

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex=50>
                            <div fxLayout="row" fxLayoutGap="20px">
                                <div mat-card-avatar [ngStyle]="{'background-color':'#fcefc3','background-size':'cover',
                                    'height':'50px','width':'50px','border':'1px solid black','border-radius':'50%'}">
                                    <!-- Get FirstLetter of user -->
                                    <div class=nameIcon>{{firstName[0].toUpperCase()}}</div>
                                </div>
                                <div>{{firstName}} {{lastName}}</div>
                            </div>
                        </div>
                        <div fxFlex=50>
                            <h4><strong>Question Asked</strong></h4>
                            <div style="height:3vh"></div>
                            <div *ngFor="let item of data.questionAndAnswerNotes">
                                <div *ngIf="!item.parentId">
                                    <h4 (click)="question(item.id)">{{item.message}}</h4>
                                </div>
                            </div>
                            <!-- <star-rating-comp [starType]="'icon'"></star-rating-comp> -->
                            <!-- <star-rating-comp star-type="'icon'"></star-rating-comp> -->
                        </div>
                        <div fxFlex=50>
                            <h4><strong>Answers</strong></h4>
                            <div style="height:3vh"></div>
                            <div *ngFor="let item of data.questionAndAnswerNotes">
                                <div *ngIf="item.parentId">
                                    <h4 (click)="question(item.id)">{{item.message}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Display Question end -->
                    <div style="height:3vh"></div>
                    <!-- Reply Question start-->
                    <div fxLayoutAlign="start start">
                        <button mat-flat-button class="color" *ngIf="notecardreply"
                            (click)="notecardOpenAnswer()">Reply</button>
                    </div>
                    <div *ngIf="!notecardreply">
                        <textarea [froalaEditor] [(froalaModel)]="replyQue.message" [formControl]="message"></textarea>
                    </div>
                    <!-- Reply Question end-->
                </div>

                <!-- If no question is there then ask a question -->
                <div *ngIf="!data.questionAndAnswerNotes.length>0">
                    <div *ngIf="notecard" (click)="notecardOpen()">
                        <h4><strong>Ask a Question</strong></h4>
                    </div>
                    <div>
                        <div *ngIf="!notecard && notecardAnswer">
                            <h5>Make sure what you are asking is unique,concise and phrased like a question.</h5>
                        </div>
                        <div style="height:3vh"></div>
                        <textarea *ngIf="!notecard && notecardAnswer" [froalaEditor] [(froalaModel)]="addQue.message"
                            [formControl]="message"></textarea>
                    </div>
                    <div style="height:3vh"></div>
                    <!-- Ask Question -->
                    <div fxLayoutAlign="end end">
                        <button mat-flat-button class="color" *ngIf="!notecard && notecardAnswer"
                            (click)="addQuestion()">Submit-Question</button>
                    </div>
                </div>
                <div style="height:3vh"></div>
                <!-- Reply Question -->
                <div fxLayoutAlign="end end">
                    <div *ngFor="let item of data.questionAndAnswerNotes">
                        <!-- <div *ngIf="data.questionAndAnswerNotes.length[0]"> -->
                        <button mat-flat-button class="color" *ngIf=!notecardreply
                            (click)=addReply(item.id)>Submit-Answer</button>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>