mat-divider{
    border-top-color: black;
    border-top-width: 2px;
}
.nameIcon{
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}
button{
   font-size: 20px;
}
.color{
    background-color: lightgray;
}
h5{
    opacity: 0.7;
}
.answers{
    margin-left: 40px;
}
button{
    border-style: hidden; 
    outline: none;
}
i{
    font-size: 30px;    
}