<div style="height:10vh"></div>
<div fxLayoutAlign="center center">
    <div fxFlex.xl='700px' fxFlex.lg='1000px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
        <div *ngFor="let data of noteList">
            <div fxLayout="column">

                <!-- title, description and close button -->
                <div fxFlex=100 fxLayoutGap="20px">
                    <div fxFlex=90>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <h4><strong>
                                    <div innerHTML="{{data.title}}"></div>
                                </strong></h4>
                            <h4>
                                <div innerHTML="{{data.description}}"></div>
                            </h4>
                        </div>
                    </div>
                    <div fxFlex=10>
                        <button mat-button (click)=close()>Close</button>
                    </div>
                </div>
                <div style="height:3vh"></div>
                <mat-divider></mat-divider>
                <div style="height:3vh"></div>

                <!-- Check Question Length if one question is there then reply-->
                <div *ngIf="data.questionAndAnswerNotes.length>0">
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">

                        <div fxFlex=50>
                            <h4><strong>Question Asked</strong></h4>
                            <div *ngFor="let item of data.questionAndAnswerNotes">
                                <div *ngIf="!item.parentId">
                                    <h5 (click)="question(item.id)">
                                        <div innerHTML="{{item.message}}"></div>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div fxFlex=50>
                            <div fxLayout="row" fxLayoutGap="25px">
                                <div mat-card-avatar [ngStyle]="{'background-image': 'url('+img+')','background-color':'#fcefc3','background-size':'cover',
                                    'height':'60px','width':'60px','border':'3px solid white','border-radius':'50%'}">
                                    <!-- Get FirstLetter of user -->
                                    <!-- <div class=nameIcon>{{firstName[0].toUpperCase()}}</div> -->
                                </div>
                                <div fxLayout="column">
                                    <div>{{firstName}} {{lastName}}</div>
                                    <div *ngFor="let item of data.questionAndAnswerNotes">
                                        <div *ngIf="!item.parentId">
                                            <h3 (click)="question(item.id)">
                                                <div innerHTML="{{item.message}}"></div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- star rating -->
                                <div>
                                    <img (click)="setLikeQuestion()" src="../../../assets/outline-thumb_up-24px.svg">
                                </div>
                                <a *ngFor="let item of starList; let i=index " (click)="setStarQuestion(i)">
                                    <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                                </a>
                                <div>Rating :- {{rating}} stars</div>
                            </div>
                        </div>
                        <div fxFlex=50>
                            <!-- <h4><strong>Answers</strong></h4> -->
                            <div *ngFor="let item of data.questionAndAnswerNotes">
                                <div *ngIf="item.parentId && item.isApproved === true">
                                    <div mat-card-avatar
                                        [ngStyle]="{'background-image': 'url('+img+')','background-color':'#fcefc3','background-size':'cover',
                                        'height':'60px','width':'60px','border':'3px solid white','border-radius':'50%'}">
                                    </div>
                                    <h4 class="answers" (click)="question(item.id)">
                                        <div innerHTML="{{item.message}}"></div>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Display Question end -->
                    <div style="height:5vh"></div>

                    <!-- Reply Question start-->
                    <div fxLayoutAlign="end end">
                        <button mat-flat-button class="color" *ngIf="notecardreply"
                            (click)="notecardOpenAnswer()">Reply</button>
                    </div>
                    <div *ngIf="!notecardreply">
                        <textarea [froalaEditor] [(froalaModel)]="replyQue.message" [formControl]="message"></textarea>
                    </div>
                    <!-- Reply Question end class="fr-tag" @Html.Raw-->

                </div>

                <!-- If no question is there then ask a question -->
                <div *ngIf="!data.questionAndAnswerNotes.length>0">
                    <div *ngIf="notecard" (click)="notecardOpen()">
                        <h4><strong>Ask a Question</strong></h4>
                    </div>
                    <div>
                        <div *ngIf="!notecard && notecardAnswer">
                            <h4>Make sure what you are asking is unique,concise and phrased like a question.</h4>
                        </div>
                        <div style="height:3vh"></div>
                        <textarea *ngIf="!notecard && notecardAnswer" [froalaEditor] [(froalaModel)]="addQue.message"
                            [formControl]="message"></textarea>
                    </div>
                    <div style="height:3vh"></div>

                    <!-- Ask Question -->
                    <div fxLayoutAlign="end end">
                        <button mat-flat-button class="color" *ngIf="!notecard && notecardAnswer"
                            (click)="addQuestion()">Submit-Question</button>
                    </div>
                </div>
                <div style="height:3vh"></div>
                <!-- Reply Question start-->
                <div fxLayoutAlign="end end">
                    <button mat-flat-button class="color" *ngIf=!notecardreply (click)=addReply()>Submit-Answer</button>
                </div>
                <!-- Reply Question end -->
            </div>
        </div>
    </div>
</div>