<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - reminder.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<!-- Dispaly data into the card after add -->
<div class="cardMain" fxLayout="{{direction}} wrap">
    <!-- ngClass for grid and list view -->
    <div class="cardSub" *ngFor="let data of notes"
        [ngClass]=" direction =='row' ? 'cardSub':'cardSub2' " cdkDrag>
        <mat-card [ngStyle]="{'background-color':data.color}">
            <div class="title">{{data.title}}</div>
            <div class="description"> {{data.description }}</div>
            <br>

            <!-- Reminder Show  start -->
            <div fxLayout="row" class="reminderMain" fxLayoutGap="5px">
                <div *ngIf="data.reminder.length>0">
                    <mat-chip-list>

                        <mat-chip>
                            <img class="clock" src="../../../assets/outline-query_builder-24px.svg">
                            {{data.reminder | date:'MMM d, y, h:mm:ss a'}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div fxLayoutAlign="end end" class="iconClear">
                    <mat-icon (click)="removeReminderNotes(data,$event)" class="clear">clear</mat-icon>
                </div>
            </div>
            <!-- Reminder Show End -->

            <div class="icon">
                <!-- Use ICON Selector to display icon in the display card
                    'cardSub': direction=='row', 'cardSub2':direction=='column'
                    -->
                <app-icon class="iconButton" (onChangeColor)="updateColor(data,$event)"
                    (onChangeDelete)="deleteNote(data,$event)" (onChangeArchive)="archiveNote(data,$event)"
                    (onChangeDateReminder)="updateReminder(data,$event)">
                </app-icon>
            </div>
        </mat-card>
    </div>
</div>