.cart{
    height:80px;
    width:100px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.endcart{
    height:120px;
    width:200px;
    background-color: lightgray;
    border-radius: 5px;
}

.divider{
    width: 800px
}

.opacity{
    opacity: 0.7;
}

.box{
    padding: 12px;
    border: groove 1px; 
    width: 850px;
    height: 300px;
}

.box1{
    padding: 12px;
    border: groove 1px; 
    width: 500px;
    height: 100px;
    margin-top: -85px;
    margin-left: 55px;
}

.box3{
    height: 150px;
    padding: 12px;
    border: groove 1px; 
    width: 850px;
}

button{
    outline: none;
    color:blue;
}

li{
    font-size: 14px;
}

.navbar{
    background-color: orange;
}

.fundooNotes{
    border-radius: 25px 25px 25px 25px;
    border-style: hidden; 
    outline: none;
    background-color: orange;
    margin-top: 24px;
}

.divider
{
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
    border: groove 1px;
}

.hr{
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    outline: none;
    border: groove 1px;
}

.price{
    display: flex;
    font-size: 12px;
}

.mainBox{
    border: groove 1px;
    padding: 6px;
}

.mainBox1{
    border: groove 1px;
    padding: 25px;
    display: flex;
    text-align: center;
}

.order{
    width:250px;
    height: 100px;
    border: groove 1px;
    background-color: lightgray;
}