<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - image-crop.componet.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/  -->
<image-cropper
    [imageChangedEvent]="data"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)">
</image-cropper>
<button mat-button (click)="uploadpic()">Upload</button>