<div class="Collaborators">Collaborators</div>
<mat-divider></mat-divider>

<div fxLayout="column" fxLayoutGap='35px'>
  <div class="margin">
    <mat-card-header>
      <!-- <div mat-card-avatar class="addPerson">
        <mat-icon class=icon>person_add</mat-icon>
      </div> -->
      <div mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover',
          'height':'40px','width':'40px','border-radius':'50%'}">
      </div>
      <mat-card-title>{{firstName}} {{lastName}} (Owner)</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
      <div mat-card-avatar class="addPerson">
        <mat-icon class=icon>person_add</mat-icon>
      </div>
      <input placeholder="person or email to share with" [(ngModel)]="searchValue" (keyup)="searchUser()" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let data of userList" [value]='data.email'>
          <button mat-button class=button (click)="addCol(data)">
            {{data.firstName}} {{data.lastName}} [{{data.email}}]
          </button>
        </mat-option>
      </mat-autocomplete>
    </mat-card-header>

    <mat-card-header *ngFor="let ccc of collaborators">

      <div mat-card-avatar [ngStyle]="{'background-color':'rgba(0, 0, 255,0.3)','background-size':'cover',
      'height':'40px','width':'40px','border':'1px solid blue','border-radius':'50%'}">
      </div>
      <div fxFlex=70>
        <mat-card-title>{{ccc.firstName}} {{ccc.lastName}}</mat-card-title>
        <mat-card-subtitle>{{ccc.email}}</mat-card-subtitle>
      </div>
      <div fxFlex=10>
        <button mat-icon-button>
          <mat-icon (click)=removeCol(ccc)>clear</mat-icon>
        </button>
      </div>
    </mat-card-header>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap='15px' class="btns">
  <button mat-button (click)=cancel()>Cancel</button>
  <button mat-button>Save</button>
</div>