/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - collaborator.componet.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
.Collaborators{
    font-size: 25px;
}
.margin{
    margin-top: 15px;
}
button{
    outline: none;
    border-radius: 200px;
}
.btns{
    margin-top: 10px;
    background-color: rgb(233, 233, 233)
}
.addPerson{
    border: 1px solid black;
    border-radius:  50%;
    opacity: 0.4;
}
.icon{
    padding: 6px;
}
input{
    width: 575px;
    outline: none;
    border-style: hidden; 
}
.nameIcon{
    margin-left: 12px;
    margin-top: 7px;
    font-size: 18px;
}
