<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - collaborator.componet.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div class="Collaborators">Collaborators</div>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutGap='35px'>
  <div class="margin">
    <mat-card-header>
      <!-- Add Image -->
      <div mat-card-avatar [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover',
          'height':'40px','width':'40px','border-radius':'50%'}">
      </div>
      <!-- one way binding using localStorage data -->
      <mat-card-title>{{firstName}} {{lastName}} (Owner)</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header *ngFor="let data of collaborators">
      <!-- Add FirstName of collaborators user -->
      <div mat-card-avatar [ngStyle]="{'background-color':'gray','background-size':'cover',
      'height':'40px','width':'40px','border':'1px solid black','border-radius':'50%'}">
      <!-- Get FirstLetter of user -->
        <!-- <div class=nameIcon>{{data.firstName[0].toUpperCase()}}</div> -->
      </div>
      <!-- Two way binding using collaborators array for add user -->
      <div fxFlex=70>
        <mat-card-title>{{data.firstName}} {{data.lastName}}</mat-card-title>
        <mat-card-subtitle>{{data.email}}</mat-card-subtitle>
      </div>
      <!-- Remove collaborators -->
      <div fxFlex=10>
        <button mat-icon-button>
          <mat-icon (click)=removeCol(data)>clear</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <!-- Search user by using ngModel binding using userList Array -->
    <mat-card-header>
      <div mat-card-avatar class="addPerson">
        <mat-icon class=icon>person_add</mat-icon>
      </div>
      <input placeholder="person or email to share with" [(ngModel)]="searchValue" (keyup)="searchUser()" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let data of userList" [value]='data.email'>
          <button mat-button class=button (click)="addCol(data)">
            {{data.firstName}} {{data.lastName}} [{{data.email}}]
          </button>
        </mat-option>
      </mat-autocomplete>
    </mat-card-header>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap='15px' class="btns">
  <button mat-button (click)=cancel()>Cancel</button>
  <button mat-button (click)=cancel()>Save</button>
</div>