/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - _mixin.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
@mixin color-test($property) {
    color:$property;
}
@mixin back-ground-color($color-value) {
  background-color: $color-value;
}
@mixin input-width {
  max-width: 250px;
  width: 100%
}
@mixin card-generator($card-bg-color) {
  background-color: $card-bg-color;
  text-align: center;
  word-wrap: break-word;
}
@mixin back-ground-color ($color-value){
  background-color: $color-value;
}