<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - notes-add.component.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div fxLayout='column' fxLayoutGap='50px'>
  <!-- Notecard start -->
  <div fxLayoutAlign="center center" *ngIf="notecard">
    <mat-card class="card" (click)="notecardOpen()" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px'
      fxFlex.sm='400px' fxFlex.xs='150px'>
      <div fxLayoutGap="35px" class="main">
        <span fxFlex="calc(50% - 25px)">Take a note...</span>
        <abbr title="Gallary">
          <button mat-button>
            <i class="material-icons">
              panorama
            </i>
          </button>
        </abbr>
        <abbr title="Gallary">
          <button mat-button>
            <i class="material-icons">
              view_list
            </i>
          </button>
        </abbr>
      </div>
    </mat-card>
  </div>
  <!-- Notecard end -->

  <!-- add notecard start -->
  <div fxLayoutAlign="center center" *ngIf="!notecard">
    <mat-card class="card" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
      <div>
        <div>
          <input fxFlex="calc(50% - 25px)" style="height:10vh; border-style: hidden; outline: none"
            [formControl]="title" placeholder="Title">
          <mat-icon class="icon">mood</mat-icon>
        </div>
        <div>
          <input style="border-style: hidden; outline: none" [formControl]="description" placeholder="Take a note...">
          <div class="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            <button mat-icon-button>
              <i class="material-icons">
                add_alert
              </i>
            </button>
            <button mat-icon-button>
              <i class="material-icons">
                person_add
              </i>
            </button>
            <!-- Change Color start -->

            <abbr title="Change color">
              <button mat-icon-button [matMenuTriggerFor]=menuColor>
                <i class="material-icons">
                  color_lens </i>
              </button>
            </abbr>

            <mat-menu #menuColor="matMenu">
              <div class="color">
                <abbr title="white"><span class=border></span></abbr>
                <abbr title="salmon"><span class=salmon></span></abbr>
                <abbr title="orange"><span class=orange></span></abbr>
                <abbr title="yellow"><span class=yellow_color></span></abbr>
              </div>
              <div class="color">
                <abbr title="green"><span class=green_color></span></abbr>
                <abbr title="teal"><span class=teal></span></abbr>
                <abbr title="blue"><span class=blue></span></abbr>
                <abbr title="aqua"><span class=aqua></span></abbr>
              </div>
              <div class="color">
                <abbr title="purple"><span class=purple></span></abbr>
                <abbr title="pink"><span class=pink></span></abbr>
                <abbr title="red"><span class=red></span></abbr>
                <abbr title="gray"><span class=gray></span></abbr>
              </div>
            </mat-menu>
            <!-- Change Color end -->

            <button mat-icon-button>
              <i class="material-icons">
                crop_original
              </i>
            </button>
            <button mat-icon-button>
              <i class="material-icons">
                archive
              </i>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="material-icons">
                more_vert
              </i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Delete label</span>
              </button>
              <button mat-menu-item>
                <span>Add drawing</span>
              </button>
              <button mat-menu-item>
                <span>Show checkboxes</span>
              </button>
            </mat-menu>
            <button mat-icon-button>
              <mat-icon class="icon">undo</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="icon">redo</mat-icon>
            </button>
            <button mat-button (click)="addNote()">Close</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <app-note-list></app-note-list>
  <!-- add notecard end -->
</div>