<!-- Notecard start -->
<div fxLayoutAlign="center center" *ngIf="notecard">
  <mat-card class="card" (click)="notecardOpen()" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px'
    fxFlex.sm='400px' fxFlex.xs='150px'>
    <div fxLayoutGap="35px">
        <span  fxFlex="calc(50% - 25px)" >Take a note...</span>
        <mat-icon class="icon">panorama</mat-icon>
        <mat-icon class="icon" (click)="list()">view_list</mat-icon>
    </div>
  </mat-card>
</div>
<!-- Notecard end -->

<!-- add notecard start -->
<div fxLayoutAlign="center center" *ngIf="!notecard">
  <mat-card class="card" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px' fxFlex.sm='400px' fxFlex.xs='150px'>
    <div>
      <div>
        <input fxFlex="calc(50% - 25px)" style="height:10vh; border-style: hidden" [formControl]="title" placeholder="Title">
        <mat-icon class="icon">mood</mat-icon>
      </div>
      <div>
        <input style="border-style: hidden;" [formControl]="description" placeholder="Take a note...">
        <div contenteditable="true" role="textbox" spellcheck="true"></div>
        <div class="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
          <!--1-->
          <mat-icon class="icon">mood</mat-icon>
          <!--2-->
          <mat-icon class="icon">person_add</mat-icon>
          <!--3-->
          <mat-icon class="icon">color_lens</mat-icon>
          <!--4-->
          <mat-icon class="icon">photo_size_select_actual</mat-icon>
          <!--5-->
          <mat-icon class="icon">archive</mat-icon>
          <!--6-->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Add label</span>
            </button>
            <button mat-menu-item>
              <span>Add drawing</span>
            </button>
            <button mat-menu-item>
              <span>Show checkboxes</span>
            </button>
          </mat-menu>
          <!--7-->
          <mat-icon class="icon">undo</mat-icon>
          <!--8-->
          <mat-icon class="icon">redo</mat-icon>
          <!--9--><button mat-button (click)="addNote()">Close</button>
        </div>
      </div>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>
<!-- add notecard end -->

