<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - notes-add.component.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div class="mainCard" fxLayout='column' fxLayoutGap='50px'>
  <!-- Notecard start -->
  <div fxLayoutAlign="center center" *ngIf="notecard">
    <mat-card class="card" (click)="notecardOpen()" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px'
      fxFlex.sm='400px' fxFlex.xs='150px'>
      <div fxLayoutGap="35px">
        <span fxFlex="calc(50% - 25px)">Take a note...</span>
        <abbr title="Gallary">
          <button mat-button>
            <i class="material-icons">
              panorama
            </i>
          </button>
        </abbr>
        <abbr title="Gallary">
          <button mat-button>
            <i class="material-icons">
              view_list
            </i>
          </button>
        </abbr>
      </div>
    </mat-card>
  </div>
  <!-- Notecard end -->

  <!-- add notecard start -->
  <div fxLayoutAlign="center center" *ngIf="!notecard">
    <mat-card [style.backgroundColor]="setColor" class="card" fxFlex.xl='700px' fxFlex.lg='600px' fxFlex.md='500px'
      fxFlex.sm='400px' fxFlex.xs='150px'>
      <div>
        <div fxLayout='column' fxLayoutGap='20px'>
           <!-- For title binding -->
          <input class="title" placeholder="Title" [style.backgroundColor]="setColor" [formControl]="title"
            [(ngModel)]="addNotes.title">
            <!-- For description binding -->
          <input class="description" placeholder="Take a note..." [style.backgroundColor]="setColor"
            [formControl]="description" [(ngModel)]="addNotes.description">
        </div>
        <div>
          <div fxLayout='row'>
            <app-icon (onChangeColor)="receivecolor($event)" (onChangeDateReminder)="receiveReminder($event)"></app-icon>
            <div class="row" fxLayoutGap='5px'>
              <abbr title="Undo">
                <button mat-button>
                  <i class="material-icons">
                    undo
                  </i>
                </button>
              </abbr>
              <abbr title="Redo">
                <button mat-button>
                  <i class="material-icons">
                    redo
                  </i>
                </button>
              </abbr>
            </div>
            <button style="margin-left: 130px;" mat-button (click)="addNote()">Close</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- Note-list Selector -->
  <app-note-list></app-note-list>
  <!-- add notecard end -->
</div>