/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - navbar.component.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/

.example-container{
    height: 87vh;
    background-color: white;
}

.example-sidenav{
    width: 350px;  
    background-color: white;
}

.navbar {
    background-color: white;
    width:100%;
}
.searchbutton {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    opacity:0.7;
    margin-top: 10px;
    font-size: 25px;
}

.search {
    padding:2% 4% 2% 9%;
    width:120%;
    color:black;
    background-color: gainsboro;
    font-size: 25px;
    border: none;
    margin:-1% -3% 0% -3%;
    border-radius: 7px;
    outline: none;
}

.img1{
    background-color: gray;
    border-radius: 50%
}

.account{
    margin-right: 8px;
    margin-left: 75%;
    padding: 5px;
    width: 350px;
    height: 200px;
    float:right;
    z-index: 100;
    position: fixed;
}

.img2{
    background-color: gray;
    background-size: cover;
    padding: 50px
}

.fileSelect{
    display: none;
}

.signout {
    border:1px solid;
    border-radius: 5px;
}

.fundoo{
    margin-top: 7px;
}

.labels{
    margin-left: 20px;
    margin-top: 15px;
    opacity: 0.7;
}
.labeldata{
    height:5vh; 
    margin-left: 20px;
    border-style: hidden; 
    outline: none;
}

.button{
    display: flex;
    border-color: transparent;
    border-radius: 0 25px 25px 0;
    box-shadow: none;
    height: 8vh;
    border-style: hidden; 
    outline: none;
}

.button:focus {
    background-color: #fcefc3;
}

.signout {
    padding:3%;
    border:1px solid rgb(192, 190, 190);
    background-color: transparent;
    border-radius: 5px;
    margin-top:10px;
}

.addAccount {
    padding:3%;
    border:1px solid rgb(192, 190, 190);
    background-color: transparent;
    border-radius: 5px;
    float:left;
    margin-top:5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) {
/* STYLES GO HERE */
.example-sidenav{
    width: 180px;
  }
.labelImg{
    display: none;
  }
}
.labelImg{
    margin-left: 20px;
}
 