<!--*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - navbar.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
****************************************************************************************************-->
<!-- **************************** Main Menu ********************************************* -->
<!-- <div class="navbarMain"> -->
<mat-toolbar class="navbar" style="height:10vh" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" fxFlex="100%" fxLayoutGap="0.8%">
        <div fxFlex=5%></div>
        <div fxLayout="row" fxFlex="100%">
            <!-- 1 -->
            <div fxFlex="21%" fxLayoutGap="60px">
                <div fxFlex="7" fxFlex.sm="100">
                    <abbr title="Main menu">
                        <button style="outline: none;" type="button" mat-button (click)="drawer.toggle()">
                            <i class="material-icons">
                                menu
                            </i>
                        </button>
                    </abbr>
                </div>
                <div fxFlex="7">
                    <img class="img" alt="" aria-hidden="true"
                        src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                        srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                        style="width:40px;height:40px">
                </div>
                <div fxFlex="7%">
                    <div *ngIf=!labelShow ngStyle.lg="font-size:23px">Fundoo</div>
                    <div *ngIf=labelShow ngStyle.lg="font-size:25px">{{labelValue}}</div>
                </div>
            </div>
            <!-- 1 -->

            <!-- 2 -->
            <div fxFlex="58%" fxLayoutAlign="center center" fxShow fxHide.sm fxShow fxHide.xs>
                <div fxFlex.xs=40 fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80">
                    <mat-icon ngStyle.xl="font-size:50px" class="searchbutton">search</mat-icon>
                    <input type="text" [(ngModel)]="searchValue" (keyup)=newMessage() class="search"
                        placeholder="Search.." (click)="search()" ngStyle.md="font-size:13px"
                        ngStyle.lg="font-size:20px">
                </div>
            </div>
            <!-- 2 -->

            <!-- 3 -->
            <div fxFlex="21%" fxLayoutAlign="space-evenly center">
                <div fxFlex="7"  fxShow fxHide.sm fxShow fxHide.xs>
                    <abbr title="Refresh">
                        <button style="outline: none;" mat-icon-button (click)="refresh()">
                            <i class="material-icons">refresh</i>
                        </button>
                    </abbr>
                </div>
                <div fxFlex="7"  fxShow fxHide.sm fxShow fxHide.xs>
                    <abbr title="Grid">
                        <button style="outline: none;" mat-icon-button *ngIf=list (click)=changeView() fxShow="true">
                            <img src="../../../assets/grid.svg" height="35" width="35">
                        </button>
                        <button style="outline: none" mat-icon-button *ngIf=grid (click)=changeView() fxShow="true">
                            <img src="../../../assets/list.svg" height="35" width="35">
                        </button>
                    </abbr>
                </div>
                <div fxFlex="7" fxShow fxHide.sm  fxShow fxHide.xs>
                    <abbr title="Google Account">
                        <button style="outline: none;" mat-icon-button (click)="account()">
                            <div mat-card-avatar
                                [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover', 'height':'40px','width':'40x'}"
                                class="img1"></div>
                        </button>
                    </abbr>
                </div>
            </div>
            <!-- 3 -->
        </div>
        <div fxFlex=5%></div>
    </div>
</mat-toolbar>
<!-- </div> -->
<mat-divider></mat-divider>

<!-- **************************** SignOutCard ********************************************* -->
<mat-card class="account" *ngIf="signoutCard"  fxShow fxHide.sm fxShow fxHide.xs>
    <div>
        <mat-card-header>
            <div mat-card-avatar
                [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover', 'height':'40px','width':'40px'}"
                class="img2" (click)=image.click()>
            </div>
            <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
            <mat-card-subtitle>{{email}}</mat-card-subtitle>
        </mat-card-header><br>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end end">
            <input type="file" class="fileSelect" (change)=profileImage($event) #image>
            <button class="signout" (click)="logout()">Sign out</button>
        </div>
    </div>
</mat-card>
<!-- **************************** Side Main Menu ********************************************* -->

<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" [mode]="width > 0?'side':'side'" closed>
        <!-- 1st div Notes, Reminder -->
        <div fxLayout="column">
            <!-- Notes start -->
            <button type="button" class="button" mat-button (click)="navbarName('Notes')" routerLink="/home">
                <div fxLayout="row" fxLayoutGap="25px">
                    <mat-icon class=name>lightbulb_outline</mat-icon>
                    <h5 class="name">Notes</h5>
                </div>
            </button>
            <!-- Notes End -->  
            <!-- Reminder start -->
            <button type="button" class="button" mat-button (click)="navbarName('Reminders')" routerLink="/reminder">
                <div fxLayout="row" fxLayoutGap="25px">
                    <mat-icon class=notifications>notifications_none</mat-icon>
                    <h5 class="name">Reminder</h5>
                </div>
            </button>
            <!-- Reminder end -->
        </div>
        <mat-divider></mat-divider>

        <!-- 2nd div LABELS, Edit labels -->
         <div fxLayout="column">
            <p class="labels">LABELS</p>
            <button class="button" mat-button *ngFor="let data of labelList" routerLink="/getlabel/{{data}}" (click)="navbarName(data)"
                routerLinkActive=active>
                <div fxLayout="row" fxLayoutGap="25px">
                    <img class="labelImg" src="../../../assets/outline-label-24px.svg">
                    <h5>{{data}}</h5>
                </div>
            </button>
            <button type="button" (click)="createLabel()" class="button" mat-button>
                <div fxLayout="row" fxLayoutGap="25px">
                    <img src="../../../assets/outline-create-24px.svg">
                    <h5>Edit labels</h5>
                </div>
            </button>
        </div>
        <mat-divider></mat-divider>

        <!-- 3rd div Archive, Delete -->
        <div fxLayout="column">
            <button type="button" class="button" mat-button (click)="navbarName('Archive')" routerLink="/archive">
                <div fxLayout="row" fxLayoutGap="25px">
                    <img class="archive" src="../../../assets/outline-archive-24px.svg">
                    <h5 class="name">Archive</h5>
                </div>
            </button>
            <button type="button" class="button" mat-button (click)="navbarName('Trash')" routerLink="/trash">
                <div fxLayout="row" fxLayoutGap="25px">
                    <img class="Trash" src="../../../assets/outline-delete-24px.svg">
                    <h5 class="name">Trash</h5>
                </div>
            </button>
        </div>
    </mat-drawer>
    <!-- @Purpose : Router for component -->
    <router-outlet></router-outlet>
</mat-drawer-container>