.search{
    width: -webkit-fill-available;
}
.example-container {
    height: 400px;
    overflow: hidden;
}
.example-sidenav{
    width: 300px;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {
    .search{ display: none; }   /* hide it elsewhere */
    .img{ display: none;}
    .fundoo{    margin-left: 40px;
    }
    .example-sidenav{
        width: 180px;
    }
}