.search{
    width: -webkit-fill-available;
}
.example-sidenav{
    width: 300px;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {
    .search{ display: none; }   /* hide it elsewhere */
    .img{ display: none;}
    .fundoo{    margin-left: 40px;
    }
    .example-sidenav{
        width: 180px;
    }
}

.button{
    border-radius: 0 25px 25px 0;
    color: #202124;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 70px;
}

.search {
    width:100%;
    color:black;
    background-color: gainsboro;
    font-size: 25px;
    border: none;
    margin:-1% -3% 0% -3%;
    border-radius: 7px;
} 
