<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - navbar.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<!-- **************************** Main Menu start ********************************************* -->
<mat-toolbar-row>
    <div class="navbarMain">
        <div  fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly center" fxLayoutGap="10px"
            style="height:10vh">

            <!-- 1st div menu, img, fundoo -->
            <div fxLayout="row" fxLayoutAlign="space-evenly start" fxFlex="15" fxLayoutGap="50px">
                <div fxFlex="5" fxFlex.sm="100">
                    <abbr title="Main menu">
                        <button style="outline: none;" type="button" mat-button (click)="drawer.toggle()">
                            <i class="material-icons">
                                menu
                            </i>
                        </button>
                    </abbr>
                </div>
                <div>
                    <img class="img" alt="" aria-hidden="true"
                        src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"
                        srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                        style="width:40px;height:40px">
                </div>
                <div class="fundoo">
                    <h5>Fundoo</h5>
                </div>
            </div>

            <!-- 2nd div search -->
            <div fxLayoutAlign="center center" fxFlex="60" fxShow fxHide.sm fxShow fxHide.xs>
                <div fxFlex.xs=40 fxFlex.sm="50" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80">
                    <mat-icon ngStyle.xl="font-size:50px" class="searchbutton">search</mat-icon>
                    <input type="text" [(ngModel)]="searchValue" (keyup)=newMessage() class="search"
                        placeholder="Search.." (click)="search()" ngStyle.md="font-size:13px"
                        ngStyle.lg="font-size:20px" ngStyle.sm="font-style:20px;margin-top:1px;"
                        ngStyle.xl="font-size:30px">
                </div>
            </div>

            <!-- 3rd div refresh, logout, grid -->
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="25" fxLayoutGap="20px">

                <div fxShow fxHide.sm fxShow fxHide.xs>
                    <abbr title="Refresh">
                        <button mat-icon-button class="materialicons" (click)="refresh()">
                            <i class="material-icons">refresh</i>
                        </button>
                    </abbr>
                </div>

                <abbr title="List view">
                    <button mat-icon-button class="materialicons" *ngIf=gridView (click)=view()>
                        <i class="material-icons">
                            view_stream</i>
                    </button>
                    <button mat-icon-button class="materialicons" *ngIf=!gridView (click)=view()>
                        <i class="material-icons">view_module</i>
                    </button>
                    <!-- <button mat-icon-button (click)="changeView(show)">
                        <mat-icon *ngIf=show>view_stream</mat-icon>
                        <mat-icon *ngIf=!show>view_module</mat-icon>
                    </button> -->
                </abbr>

                <abbr title="Logout">
                    <button mat-icon-button class="materialicons" (click)="account()">
                        <i class="material-icons"> account_circle</i>
                    </button>
                </abbr>

            </div>

        </div>
    </div>
</mat-toolbar-row>
<mat-divider></mat-divider>
<!-- **************************** Signout card start ********************************************* -->

<mat-card class="account" *ngIf="signoutCard">
    <div>
        <mat-card-header>
            <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
            <mat-card-subtitle>{{email}}</mat-card-subtitle>
        </mat-card-header>
        <div fxLayoutAlign="start start">
            <button class="signout" (click)="logout()">Sign out</button>
        </div>
    </div>
</mat-card>
<!-- **************************** Signout card end ********************************************* -->

<!-- **************************** Main Menu end ********************************************* -->

<!-- ***************************** side menu start ************************************* -->

<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">

        <!-- 1st div Notes, Reminder -->
        <div fxLayout="column">
            <button type="button" class="button" mat-button (click)="displayNote=null">
                <div class="notes" fxLayout="row" fxLayoutGap="25px">
                    <mat-icon class=name>lightbulb_outline</mat-icon>
                    <h5 class="name">Notes</h5>
                </div>
            </button>
            <button type="button" class="button" mat-button>
                <div class="notifications" fxLayout="row" fxLayoutGap="25px">
                    <mat-icon class=notifications>notifications_none</mat-icon>
                    <h5 class="name">Reminder</h5>
                </div>
            </button>
        </div>
        <mat-divider></mat-divider>

        <!-- 2nd div LABELS, Edit Note -->
        <div fxLayout="column">
            <div class="label" fxLayout="row">
                <p class="labels" style="margin-left: 20px;margin-top: 15px;">LABELS</p>
            </div>

            <a *ngFor="let data of labelList | sortPipe">
                <div fxLayout="row" fxLayoutGap="10px" style="height:5vh ; margin-left: 20px;">
                    <img src="../../../assets/outline-label-24px.svg">
                    <div style="font-size: 15px;">{{data}}</div>
                </div>
            </a>
            <button type="button" (click)="createLabel()" class="button" mat-button>
                <div class="edit" fxLayout="row" fxLayoutGap="25px">
                    <img src="../../../assets/outline-create-24px.svg">
                    <h5>Edit Note</h5>
                </div>
            </button>
        </div>
        <mat-divider></mat-divider>

        <!-- 3rd div Archive, Delete -->
        <div fxLayout="column">
            <button type="button" class="button" mat-button>
                <div class="archive" fxLayout="row" fxLayoutGap="25px">
                    <img class="archive" src="../../../assets/outline-archive-24px.svg">
                    <h5 class="name">Archive</h5>
                </div>
            </button>
            <button type="button" class="button" mat-button>
                <div class="delete" fxLayout="row" fxLayoutGap="25px">
                    <img class="delete" src="../../../assets/outline-delete-24px.svg">
                    <h5 class="name">Delete</h5>
                </div>
            </button>
        </div>
        <mat-divider></mat-divider>

    </mat-drawer>
    <!-- @Purpose : Go to the child component -->
    <router-outlet></router-outlet>
</mat-drawer-container>
<!-- ******************************** side menu end ************************************* -->