<!-- /*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - icon.component.html
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/ -->
<div>
  <!-- ************************************ Reminder start ************************************************* -->

  <abbr title="Remind me">
    <button mat-icon-button [matMenuTriggerFor]=menuReminder>
      <i class="material-icons">
        add_alert
      </i>
    </button>
  </abbr>

  <!-- menuReminder start -->
  <mat-menu #menuReminder="matMenu">
    <mat-card *ngIf=!timePick>
      <div>Reminder:</div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=today()>
        <div fxFlex=20 class="main">Later today</div>
        <div fxFlex="20">8:00 PM</div>
      </div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=tomorrow()>
        <div fxFlex=20 class="main">Tomorrow</div>
        <div fxFlex="20">8:00 AM</div>
      </div>
      <div mat-menu-item class="menu" fxLayout="row" (click)=nextWeek()>
        <div fxFlex=20 class="main">Next week</div>
        <div fxFlex="20">Mon, 8:00 AM</div>
      </div>
      <div mat-menu-item class="menu" (click)="timePick=true">
        <mat-icon class="main">access_time</mat-icon>Pick date & time
      </div>
      <div mat-menu-item class="menu">
        <img class="main" src="../../../assets/baseline-place-24px.svg">Pick Place
      </div>
    </mat-card>
  </mat-menu>
  <!-- menuReminder end -->
  <!-- ************************************ Reminder End ************************************************* -->

  <abbr title="Collaborator">
    <button mat-icon-button (click)="addCollaborator()">
      <i class="material-icons">
        person_add
      </i>
    </button>
  </abbr>

  <!-- ************************************ Collaborator End ************************************************* -->

  <!-- Change Color start -->
  <abbr title="Change color">
    <button mat-icon-button [matMenuTriggerFor]=menuColor>
      <i class="material-icons">
        color_lens </i>
    </button>
  </abbr>
  <mat-menu #menuColor="matMenu" [overlapTrigger]="false">
    <mat-card matMenuContent>
      <div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 3px" *ngFor="let colors of arrayOfColors">
          <div *ngFor="let color of colors">
            <button [ngStyle]="{ 'background-color': color.hexcode }" (click)="setColor(color.hexcode)"
              matTooltip="{{ color.name }}" mat-mini-fab></button>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-menu>
  <!-- Change Color end -->

  <!-- ************************************ Change Color end ************************************************* -->

  <abbr title="Add image">
    <button mat-icon-button>
      <i class="material-icons">
        crop_original
      </i>
    </button>
  </abbr>

  <!-- Archive start -->
  <abbr title="Archive" *ngIf="!isArchive">
    <button mat-icon-button (click)="archiveNote(note)">
      <i class="material-icons">
        archive
      </i>
    </button>
  </abbr>
  <!-- <abbr title="Unarchive" *ngIf="isArchive">
    <button mat-icon-button (click)="archiveNote(note)">
      <i class="material-icons">
        unarchive
      </i>
    </button>
  </abbr> -->

  <!-- Archive end -->
  <!-- ************************************ Archive end  ************************************************* -->

  <abbr title="more">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <i class="material-icons">
        more_vert
      </i>
    </button>
  </abbr>

  <abbr>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteNote(note)">
        <span>Delete NoteForever</span>
      </button>
      <button mat-menu-item (click)="trashNote(note)">
        <span>Delete Note </span>
      </button>
    </mat-menu>
  </abbr>
</div>