@import '../../core/scss/color.scss';

mat-form-field{
    width: 100%;
}
// Forgot email?
p{
    margin-left: 10px;

}
@media only screen 
and (max-width : 320px) {
/* Styles */
    button{
        margin-top: -30px;
    }
    p{
        margin-top: -22px;
    }
}

button{
    margin-top: -38px;

}









// @import '../../core/scss/color.scss';

// mat-form-field{
//     width: 100%;
// }
// // Forgot email?
// p{
//     margin-left: 10px;

// }
// @media only screen 
// and (max-width : 320px) {
// /* Styles */
//     button{
//         margin-top: -30px;
//     }
//     p{
//         margin-top: -22px;
//     }
// }

// button{
//     margin-top: -38px;

// }