<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Fundo Notes</h1>
                        <h5 class="card-title text-center">Account recovery</h5>
                        <p>Enter the last password you remember using with this Google Account</p><br>
                        <form class="form-signin">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter your password</mat-label>
                                <input matInput placeholder="Enter your password" type="password" id="inputpassword" required
                                    autofocus>
                            </mat-form-field>
                            <div>
                                <button class="pull-left" mat-button routerLink="/">Try another way</button>
                            </div>
                            <button class="pull-right" mat-raised-button color="primary"
                                routerLink="/forgotPassword">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>