/*****************************************************************************************************
 *@Purpose - FundoNotes.
 *@file    - dialog.componet.scss
 *@author  - Ankita Mapari <mapariit@gmail.com>
 *@version - 1.0
 *@since   - 22/04/2019
**************************************************************************************************/
// .title{
//     border-style: hidden; 
//     outline: none;  
//     word-break: break-all;
//     font-weight: bold;
// }

// .description{
//     border-style: hidden; 
//     outline: none;
//     margin-bottom: 20px;
//     word-break: break-all;
// }
.text{
    border-style: hidden;
    outline: none;
    width: 670px; 
}

.text:empty:before{
    content: attr(data-text);
}

button{
    outline: none;
    border-radius: 200px;
}

