@import '../../core/scss/color.scss';
@import '../../core/scss/mixin';

.username{
    width: 458px;
}

mat-icon{
    margin-top: 2%;
    font-size: 200%;
}

.name{
    width: 225px;
}


.addCart mat-card{
    width: 120px;
    height: 140px;
    background-color: #a9a9a9;
}

.addCart .p{
    margin-top: 110px;
    color: black;
    font-size: 10px;
}
.cartSub .p{
    font-size:8px;  
}
.cartSub mat-card{
    width: 120px;
    margin-left: -20px;
    margin-top: -165px;
    height: 140px;
}
button{
    outline: none;
    color:blue;
}

h3{
    opacity: 0.6;
}

.p1{
    font-size: 12px;
}

.p2{
    font-size: 10px;
}

li{
    font-size:8px;
}
.select{
    background-color: orange;
}

.cartMain .select{
    background-color: orange;
}
.cartMain .notSelect{
    background-color: gray;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) {
/* STYLES GO HERE */
.username{
    width: 220px;
  }
}